* { box-sizing: border-box; }
.heading, td, th {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.heading, table {
    position: absolute;
    left: 50%;
    width: 650px;
    margin-left: -325px;
}
.heading {
    top: 10px;
    font-size: 1.8em;
    text-align: center;
}
table {
    top: 100px;
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    font-size: 1.3em;
    padding: 0.6em;
    line-height: 1.5em;
}
th {
    font-weight: 400;
}
thead tr {
    border-bottom: #666 1px solid;
}
/*tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}*/
.title {
    position: relative;
    width: 350px;
}
.name {
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.messages, .subscriptions {
    width: 150px;
    max-width: 150px;
    text-align: right;
}
.num {
    display: inline-block;
    width: auto;
    font-family: 'Lucida Console', Monaco, 'Courier New', Courier, monospace;
    font-size: 0.8em;
    line-height: 0.8em;
    padding: 5px;
    background: rgba(255, 255, 255, .8);
    border-radius: 3px;
}
.zero {
    color: #aaa;
}
.fat {
    font-weight: 600;
}
.hot {
    font-weight: 600;
    color: #f20;
}
#loading {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.5em;
    width: auto;
}
#placeholder td {
    text-align: center;
}

.chart {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
}
.in {
    fill: #7df;
}
.out {
    fill: #7fd;
}
