{{define "dashboard"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burlesque v{{.version}}</title>
    <meta charset="utf8">

<style type="text/css">

* { box-sizing: border-box; }
.title, td, th {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    padding: 10px;
    font-weight: 300;
}

.title {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 300;
}
table {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    border-spacing: 0;
    border-collapse: collapse;
}
th {
    font-weight: 400;
}
thead tr {
    border-bottom: #666 1px solid;
}
tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
.name {
    width: 300px;
    max-width: 300px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.messages, .subscriptions {
    width: 150px;
    max-width: 150px;
    font-weight: 400;
    text-align: right;
}
#placeholder td {
    text-align: center;
}
.zero {
    font-weight: 300;
    color: #aaa;
}
.fat {
    font-weight: 600;
}
.hot {
    font-weight: 600;
    color: #f20;
}

</style>

</head>
<body>

<h1 class="title">Burlesque v{{.version}} at {{.hostname}}</h1>

<table class="stats">
    <thead>
        <tr>
            <th class="name">Queue</th>
            <th class="messages">Messages</th>
            <th class="subscriptions">Subscriptions</th>
        </tr>
    </thead>
    <tbody id="queues">
        <tr id="placeholder">
            <td colspan="3">Loading queues...</td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">

function loadStatus(callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/status', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var queues = JSON.parse(xhr.responseText);
                callback(queues);
            }
        }
    };
    xhr.send(null);
}

function updateDashboard(queues) {
    var queuesList = document.getElementById('queues'),
        placeholder = document.getElementById('placeholder'),
        fatThreshold = 100,
        hotThreshold = 1000;

    if (placeholder) {
        queuesList.removeChild(placeholder);
    }

    for (queue in queues) {
        var meta = queues[queue],
            id = 'queue_' + queue,
            tr = document.getElementById(id);

        if (!tr) {
            tr = document.createElement('tr');
            tr.setAttribute('id', id);
            for (var i = 0; i < 3; i++) {
                tr.appendChild(document.createElement('td'));
            }
            queuesList.appendChild(tr);
        }

        var nmsg = parseInt(meta.messages, 10),
            nsub = parseInt(meta.subscriptions, 10),
            cols = tr.getElementsByTagName('td'),
            nameCol = cols[0],
            messagesCol = cols[1],
            subscriptionsCol = cols[2];

        nameCol.setAttribute('class', 'name');
        nameCol.innerHTML = queue;
        messagesCol.innerHTML = meta.messages;
        subscriptionsCol.innerHTML = meta.subscriptions;

        if (nmsg > hotThreshold) {
            nameCol.setAttribute('class', 'name hot');
            messagesCol.setAttribute('class', 'messages hot');
        } else if (nmsg > fatThreshold) {
            nameCol.setAttribute('class', 'name fat');
            messagesCol.setAttribute('class', 'messages fat');
        } else if (nmsg === 0) {
            messagesCol.setAttribute('class', 'messages zero');
        } else {
            messagesCol.setAttribute('class', 'messages');
        }

        if (nsub === 0) {
            subscriptionsCol.setAttribute('class', 'subscriptions zero');
        } else {
            subscriptionsCol.setAttribute('class', 'subscriptions');
        }
    }
}

function loop(timeout, func) {
    func();
    window.setTimeout(function(){
        loop(timeout, func);
    }, timeout);
}

loop(1000, function(){
    loadStatus(updateDashboard);
});

</script>

</body>
</html>

{{end}}
